{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
  <link rel="stylesheet" href="../static/tripstyle.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


  <style>
    hr {
      border: 0;
      clear: both;
      display: block;
      width: 96%;
      background-color: black;
      height: 2px;
    }
  </style>
</head>

<body>

  <div class="container text-left mt-6">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'app1:ideas'%}">Hello ,
                {{request.session.first_name}} !</a>
            </li>
          </ul>
          <ul style="list-style: none;" class="ms-auto d-flex gap-3 m-0">


            <li class="nav-item ">
              <a style="text-decoration: underline;" class=" nav-link active text-primary" aria-current="page"
                href="{% url 'app1:ideas' %}">Dashboard</a>
            </li>

          </ul>

          <ul style="list-style: none;" class="ms-auto d-flex gap-3 m-0">


            <li class="nav-item ">
              <a style="text-decoration: underline;" class=" nav-link active text-primary" aria-current="page"
                href="{% url 'app1:logout' %}">Log out</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}

      {% endblock content %}
    </div>



  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>

</html>